h1, h2, h3, h4, h5, h6 {
    color: #111;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h5, .h5 {
    font-size: 16px;
    font-size: 1.06667rem;
    line-height: 1.7;
}
.secondary-nav,#cart {
    position: absolute;
    top: 12px;
    right: 30px;
}
#logo img{
	margin: auto;
	max-width: 27%;
}
#cart-button-count{
	background: none !important;
	border: none !important;
	color: #535353 !important;
}
#menu{
	background: none !important;
	border: none;
    width: 1000px;
    margin: auto;
}
#menu .nav > li > a{
	
	color: #535353 !important;
}
a {
    text-decoration: none;
    color: #535353;
}
a:hover {
    color: #111;
}
/* Menu */
#menu .nav > li > a{
    font-weight: bold;
    text-transform: uppercase;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
    background-color: none;
}
/* List category home */

.heading{
	position: relative;
	margin: 40px 0;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.heading:after {
    content: '';
    width: 36px;
    height: 3px;
    background: #fad018;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -18px;
}
.category-item .collection-list__link{
	display: block;
	position: relative;
}
.category-item .item-bg{
    width: 100%;
    height: 100%;
    position: absolute;
}
.category-item .u-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.category-item .collection-list__title{
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.category-item .collection-list__title {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 12px 24px;
}
.category-item .overlay:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.category-item .overlay:hover:after {
    opacity:.8;
}
.category-item .collection-list__item {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 420px;
    margin-bottom: 30px;
    padding-bottom: 24px;
}
.category-item .u-flex--center {
    -ms-flex-pack: center;
    justify-content: center;
}
.category-item .collection-list__title-text {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}
.category-item .collection-list__title-text:after {
    content: '';
    width: 36px;
    height: 4px;
    background: #fad018;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: -9px;
}

/*
* List product
*/
.feature-group{
	background: #f5f5f5;
}
.product-layout img{
    position: absolute;
    left:0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}​
.product-layout .product-thumb,
.product-layout .transition{
	position: relative;
	border: none;
	text-align: center;
}
.product-layout .image{
	display: inline-block;
	width: 340px;
	height: 340px;
	position: relative;
	margin: 0 auto;
}
.product-layout .image img:last-child:hover{
	opacity: 0;
}
.product-layout a:hover h4{
	opacity: .7
}
.product-layout .h5{
    font-family: "Oswald",sans-serif;
    color: #535353;
    margin: 6px 0 0;
    line-height: 1;
}
.product-thumb{
    text-align: center;
    border: none;
}
.product-thumb .caption{
    min-height: 80px !important;
}
/* Comment */
.swiper-wrapper img{
	display: inline-block;
}